
</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made with ❤️ by Ali Ramazani  | <a href="#" onclick="alert('Sorry, this feature is not available now!')"> Report <i class="fas fa-bug"></i></a></p>
</div>
</body>
</html>
